extends layout

block content
    div(class='container')
        div(class='row')
            div(class='col-md-5 offset-md-3')
                h1= 'Welcome to ' + title + '!'
        div(class='row')
            div(class='jumbotron col-md-5 offset-md-3')
                form
                    fieldset
                        legend= 'Вход'
                        div(class='form-group')
                            label(for='emailField')= 'Email address:'
                            input(type='email', class='form-control', id='emailField', placeholder='Введите e-mail')
                        div(class='form-group')
                            label(for='passwordField')= 'Password:'
                            input(type='password', class='form-control', id='passwordField', placeholder='Введите пароль')
                        div(class='alert alert-dismissible alert-primary')
                            button(type='button' class='close' data-dismiss='alert')='×'
                            strong='Ну вот! Ты ввел неверный пароль!'
                            br
                            a(href='/signup')='Зарегистрируйся '
                            strong='или попробуй еще'
                    button(type='submit', class='btn btn-info col-sm-12')='Войти'
                    br
                    br
                    a(href='/signup', class='btn btn-success col-sm-12')='Зарегистрироваться'
                    a(href='/forgot', class='btn btn-link')='Забыли пароль?'
