extends layout

block content
    div.container
        div.row
            div.col-md-3.offset-md-4
                h1= title
        div.row
            div.jumbotron.col-md-8.offset-md-2
                form
                    fieldset
                        div.form-group
                            label(for='nameInput')= 'Как Вас зовут?'
                            input.form-control(type='text', id='nameInput')
                        div.form-group
                            label(for='emailInput')= 'Введите e-mail'
                            input.form-control(type='email', id='emailInput')
                        div.form-group
                            label(for='password1Input')= 'Введите пароль'
                            input.form-control(type='password', id='password1Input')
                        div.form-group
                            label(for='password2Input')= 'Введите пароль еще раз'
                            input.form-control(type='password', id='password2Input')
                        button.btn.btn-primary(type='submit')= 'Зарегистрироваться'
